body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  margin: 0;
}

p {
  font-size: 20px;
}

button {
  transition: linear 0.1s;
}

button:hover {
  transform: scale(1.07);
  transition: linear 0.1s;
}

.header-full-screen {
  background-color: #363636;
  height: 100vh;
  color: #fff;
  margin-bottom: 30px;
}

.header-short {
  background-color: #363636;
  color: #fff;
  margin-bottom: 30px;
}

.menu-container {
  height: 5em;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  border-bottom: 1px solid #7e7e7e;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 100%;
}

.menu-block {
  display: flex;
  gap: 40px;
  align-items: center;
  align-content: center;
  height: 100%;
}

.menu-block>a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  transition: linear 0.1s;
}

.menu-block>a:hover {
  background-color: #444444;
  transition: linear 0.1s;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.blue-button {
  background-color: #6685D3;
  color: #fff;
  border: 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
}

.big-button {
  font-size: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 60px;
}

.main {
  max-width: 600px;
  flex: 1;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

#numail {
  display: flex;
  width: 100%;
  flex: 1;
  gap: 20px;
}

.form-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  background-color: #000000;
}